@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Pacifico&display=swap");
.App {
  background-color:#263A29;
}


body {
  color: #F2E3DB;
  /* font-family: "Pacifico", cursive; */
  background-color:#263A29; 
}


.navlink {
  font-weight: 500;
  font-size: 20px;
  color: #E86A33;
  text-decoration: none;
  padding-right: 2%; 
  font-family: "Pacifico", cursive;
  color: #263A29;
  background: linear-gradient(90deg, #E86A33 50%, #263A29 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.6s;
}

.navlink:hover {
  color: #ffffff;
  --_p: 10%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #41644A;
  border-radius: 15px;
  flex-wrap: wrap; 
}

.logo {
  cursor: pointer;
  width: 50px;
  height: 50px;

}

.navbar Link.navlink {

  transition: all 0.3s ease 0s;
}


/* header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
} */

@media only screen and(max-width: 1024px) {


}

/* Register page */

.create-recipe {

  margin-top: 7%;
  margin-bottom: 7%; /*problem*/
  width: 30%;

  background-color: #41644A;
  position: relative;
  border-radius: 1em;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;

}
.create-recipe form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-top: 10%;
}

.create-recipe h2{
  margin-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* center horizontally */
  align-items: center;
}

.col {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
   margin-top: 7%; 
  flex-basis: calc(33.33% - 20px); /* three items per row */
}

@media only screen and (max-width: 768px) {
  .col {
    display: block;
    margin: 10px 0;
    margin-top: 15%;
  }
}

.home-item h2 {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

img {
  
  width: 400px;
}

.home-item p {
  max-width: 400px;
  font-size: 12px;
}

.home-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .grid{
  padding: 1 rem;
  display: flex;
  flex-direction: row;

}

 .col{
  border: 1px solid black;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
  display: inline-block;
   flex-wrap: wrap;
  gap: 1rem 

} 

@media only screen and (min-width: 768px) {
  .grid{
    justify-content: space-between;
  }
} */

/* FOOTER */

.footer {
  background-color: #41644A;
  border-radius: 1em;  
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
   */
  height: 10%;
}

.sb_footer_section_padding {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2 rem;
}

.sb_footer_links-div {
  width: 150px;
  margin: 1 rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  columns: white;
}

a {
  color: rgb(249, 135, 54);
  text-decoration: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
}

.socialMedia img {
  width: 45px;
  height: 30px;
  padding: 0px;
  border-radius: 1em;
}

.sb_footer_links-div h4 {
  
  line-height: 17px;
  margin: 0.9rem;
}

.sb_footer_links-div p {
  font-size: 12px;
  line-height: 15px;
  margin:0.5rem;
  margin-left: 0.9rem;

  cursor: pointer;
}

.sb_footer-bellow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-bellow-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-bellow-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: rgb(249, 135, 54);
  font-weight: 600;
}

hr {
  color: rgb(249, 135, 54) !important;
  width: 100%;
}

.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(249, 135, 54);;
  font-weight: 600;
}

.sb_footer-bellow-links{
  display:flex;
}

@media only screen and (max-width: 768px) {
  .sb_footer-heading {
    display: block;
    margin: 10px 0;
    margin-top: 15%;
  }
}

/* FOOTER */


.li-button{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  margin-top: 7%; 
  
}

.category-btn{

  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 2rem;
  font-size: xx-large;
}

.category-btn:hover {
  background-color: #FF8F6B;
  transform: scale(1.1);
}

.category-btn:active {
  background-color: #D15724;
}

.ul-btn{
  margin: 10px;
  margin-bottom:150px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown h4{
  font-weight: normal;
}

/* Dropdown button */
.dropbtn {
  margin-left:11px;
  background-color:#F2E3DB;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: black;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

/* Dropdown options */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Dropdown options on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when dropdown button is clicked */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Style for the selected option */
.dropdown-content a.selected {
  background-color: #3b3b3b;
  color: white;
}

.style-button {
  background-color: #E86A33;
  border-radius: 0.5em;
  padding: 1.5%;
  color:#263A29;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.style-button:hover {
  background-color: #FF8F6B;
  transform: scale(1.1);
}

.style-button:active {
  background-color: #D15724;
}

/*s;laksdk;l */

.see-more-container h1,h3{
  font-family: "Pacifico", cursive;
  font-weight: normal;
  
}

.see-more-text{

  
}

.see-more-container h1{
  font-weight: normal;
  font-size: xxx-large;
  text-align: center ;
}

.see-more-container h3{
  font-size: xx-large;
  text-align: center;
}


.recipe-image {
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.recipe-image:hover {
  transform: scale(1.05) rotate(3deg);
}


.ingredients-list {
  display: inline;
  text-align: center;
  font-size: large;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  position: relative; /* Add a position to create a stacking context */
}

.ingredients-list li {
  position: relative;
  padding-left: 20px;
  margin: 8px 0;
  list-style-type: none;
  color:#F2E3DB; /* Adjust the color as needed */
}

.ingredients-list li::before {
  content: "🍕"; /* Use the bullet character or any other preferred symbol */
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
  font-size: 1.2rem;
  color: #41644A; /* Adjust the color as needed */
}

.ingredients-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Adjust the color as needed */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.ingredients-list li:hover::after {
  transform: scaleX(1);
}
.instructions{
  text-align: center ;
}
.cooking-time{
  text-align: center;
}



/* ausglkfjhadskgkfdaj */

.comment-section {
  margin-top: 20px;
}

.comment-section h3 {
  font-size: 18px;
  font-weight: bold;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.comment-item {
  margin-bottom: 8px;
  padding: 8px;
  background-color:#41644A;
  border-radius: 4px;
}

.comment-input-section {
  display: flex;
  justify-content: center;
  margin: 20px;

}

.comment-input-section textarea{
  align-items: center;
  margin: 0px;
}

.comment-input-section button{
  align-items: center;
  margin: 0px;
}

.comment-input {
  width: 50%;
  height: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

.submit-comment-button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color:#41644A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment-button {
  padding: 8px 16px;
  background-color:#D15724;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 46%;
  margin-bottom: 20px;
}


.admin-panel {
  padding: 20px;
  margin-bottom: 20%;
}

.admin-panel h1 {
  font-size: xx-large;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  font-weight: normal;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  color: #ccc;
}

.user-table th {
  background-color: #41644A;
}

.user-table tr:hover {
  background-color: #41644A;
}



.cute-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;


}

.cute-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cute-page p {
  font-size: 16px;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #263A29;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  background-color: #263A29;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}