@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Pacifico&display=swap");
.App {
  background-color: #181310;
}

body {
  color: #fd7f20;
  font-family: "Pacifico", cursive;
  /* background-color: #24252a; */
}

.navlink {
  font-weight: 500;
  font-size: 20px;
  color: #fd7f20;
  text-decoration: none;
  padding-right: 10%;

  color: #0000;
  background: linear-gradient(90deg, #fd7f20 50%, #000 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}

.navlink:hover {
  color: #ffffff;

  --_p: 0%;
}

.navbar {
  display: flex;
  justify-content: space-between;
   align-items: center;
  background-color: #3b3b3b;
  border-radius: 15px;
  flex-wrap: wrap; 
}

.logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.navbar Link.navlink {
  transition: all 0.3s ease 0s;
}

.logout-button {
  margin-right: 5%;
}

header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

@media only screen and(max-width: 1024px) {
  header .nav-button {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header responsive_nav{
    transform: none;
  }
}

/* Register page */

.create-recipe {
  margin-top: 7%;
  margin-bottom: 7%; /*problem*/
  width: 30%;

  background-color: rgb(140, 63, 8);
  position: relative;
  border-radius: 1em;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* center horizontally */
  align-items: center;
}

li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
  margin-top: 15%;
  flex-basis: calc(33.33% - 20px); /* three items per row */
}

@media only screen and (max-width: 768px) {
  li {
    display: block;
    margin: 10px 0;
    margin-top: 15%;
  }
}

h2 {
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

img {
  
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}

.home-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .grid{
  padding: 1 rem;
  display: flex;
  flex-direction: row;

}

 .col{
  border: 1px solid black;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
  display: inline-block;
   flex-wrap: wrap;
  gap: 1rem 

} 

@media only screen and (min-width: 768px) {
  .grid{
    justify-content: space-between;
  }
} */

/* FOOTER */

.footer {
  background-color: #000;
  border-radius: 1em;  
}

.sb_footer_section_padding {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2 rem;
}

.sb_footer_links-div {
  width: 150px;
  margin: 1 rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  columns: white;
}

a {
  color: rgb(140, 63, 8);
  text-decoration: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
}

.socialMedia img {
  width: 45px;
  height: 30px;
  padding: 0px;
  border-radius: 1em;
}

.sb_footer_links-div h4 {
  
  line-height: 17px;
  margin: 0.9rem;
}

.sb_footer_links-div p {
  font-size: 12px;
  line-height: 15px;
  margin:0.5rem;
  margin-left: 0.9rem;

  cursor: pointer;
}

.sb_footer-bellow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-bellow-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-bellow-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: white !important;
  width: 100%;
}

.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: white;
  font-weight: 600;
}

.sb_footer-bellow-links{
  display:flex;
}

@media only screen and (max-width: 768px) {
  .sb_footer-heading {
    display: block;
    margin: 10px 0;
    margin-top: 15%;
  }
}

/* FOOTER */
