@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

@font-face {
  font-family: "Pacifico", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
}

body{
  margin: 0;
}

.page {
  margin-top: 7%;
  margin-bottom: 7%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}


.cover {
  background-color: rgb(140, 63, 8);
  width: 20em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.register-text {
  margin-left: 33%;
  margin-bottom: 10%;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 40%;
  height: 100%;
  border-radius: 0.25em;
  background-color: #fd7f20;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.google {
  background-image: url("../images/google_good.png");
}

.facebook {
  background-image: url("../images/facebook_good.png");
}

.form-content {
  border: none;
  background-color: #3b3b3b;
  height: 3em;
  width: 100%;
  border-radius: 0.25em;
  margin: 5%;
  text-align: center;
  padding: 1em;
}

.textarea-content {
  border: none;
  background-color: #3b3b3b;
  height: 10em;
  width: 100%;
  border-radius: 0.25em;
  margin: 5%;
  text-align: center;

  padding: 1em;
}
.form-content:focus {
  outline-color: aqua;
}

.reg-button {
  width: 40%;
  height: 3em;
  margin-top: 10%;
  margin-left: 35%;
  background-color: lightslategrey;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.add-ingredients-button {
  width: 60%;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: lightslategrey;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.logo-pic {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.logo-pic div {
  width: 60%;
  height: 300%;
  border-radius: 10em;
  background-color: rgb(253, 127, 32, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.picture {
  background-image: url("../images/logo.png");
  background-size: 90%;
}
